.clearfix
%footer.footer
  .container
    .row
      .col-xs-12
        .row
          .col-xs-12.col-sm-4.col-md-4
            .footer-left.text-left
              %p
                Copyright © {{date('Y')}} JAGS
                %sup
                  TM
                All rights are reserved
          .col-xs-12.col-sm-4.col-md-4
            .footer-center.text-center
              %ul.footer-social-links
                %li
                  %a{:href=>"#"} Facebook
                %li
                  %a Twitter
                %li
                  %a Google +
          .col-xs-1.col-sm-4.col-md-4
            .footer-right.text-right
              %ul.footer-more-links
                %li
                  %a{href:"{{route('home')}}"} Home
                %li
                  %a{href:"{{route('contact')}}"} Contact
                %li
                  %a{href:"{{route('about')}}"}
                    About