.clearfix
%footer.footer
  .container
    .row
      .col-xs-12
        .row
          .col-xs-12.col-sm-4.col-md-4
            .footer-left.text-left
              %p
                Copyright © 2015 JAGS
                %sup
                  TM
                All rights are reserved
          .col-xs-12.col-sm-4.col-md-4
            .footer-center.text-center
              %ul.footer-social-links
                %li
                  %a{:href=>"#"} Facebook
                %li
                  %a Twitter
                %li
                  %a Google +
          .col-xs-1.col-sm-4.col-md-4
            .footer-right.text-right
              %ul.footer-more-links
                %li
                  %a Home
                %li
                  %a Contact
                %li
                  %a
                    About