%section.portfolio
  .container
    .row
      .col-xs-12
        %h2.features-title.text-center Portfolio
        %section.portfolio-content
          %article.features-description.text-center
            Lorem ipsum dolor sit amet consectetur adipis dolor sit amet consectetur adipiscing elit un paramesodolor
          .clearfix
          %ul.portfolio-filter
            %li
              %a
                Web Development
            %li
              %a
                Web Design
            %li
              %a
                SEO
          .clearfix
          .portfolios
            @for($x=1;$x<=8;$x++)
            .single-portfolio
              %a
                %img{:src=>"{{asset('images/portfolio/portfolio-'.$x.'.jpg')}}"}
            @endfor
