%section.services#home-service
  .container-fluid
    .row
      .col-xs-12
        %h1.services-title.text-center
          Our Services
        %h3.service-subtitle.text-center
          We can help you in Web development, Web design, Article writing
    .row.service-wrapper
      .col-xs-12.col-sm-4.light-green.service
        %h3.service-title.text-center
          Web Development
        %article
          We can develop websites in Ruby On Rails, Laravel, Wordpress, Magento, Drupal etc.
          Currently we can handle small, medium and personal websites which
          vary from portfolio, blog to medium level E-Commerse applications. We can also
          fix bugs, add new features in existing websites. We give support and maintenance for 2 weeks.
      .col-xs-12.col-sm-4.medium-green.service
        %h3.service-title.text-center
          Web Design
        %article
          We can create modern and minimalistic website using Bootstrap, Foundation, Materialize, UI Kit
          CSS Frameworks. We can also design unique and clean templates/ PSDs based on your requirements.
          You can download free wordpress templates from our download section without any costs.
      .col-xs-12.col-sm-4.dark-green.service
        %h3.service-title.text-center
          Others
        %article
          We can handle SEO, Social media marketting for you. Currently we are focusing on Web development
          and Web designing. In addition we also do blogging and youtube videos for 7chip.