.employee-footer
  .container
    .row
      .col-xs-12.col-sm-6
        %ul.footer-list.left
          %li
            %a{:href=>"#"}
              Jags@2015
      .col-xs-12.col-sm-6
        %ul.footer-list.right
          %li
            %a{:href=>"{{route('home')}}"}
              Home
          %li
            %a{:href=>"{{route('about')}}"}
              About
          %li
            %a{:href=>"#"}
              Contact
