.employee-myservices
  .container
    %h1.title.text-center.page-title
      My Services
    .row
      .col-xs-12
        .my-service-inner
          .row
            .col-xs-12.col-sm-6
              .employee-myservice.right
                .service-icon
                  %span.fa.fa-paint-brush
                .service-content
                  %h3.title
                    Designing
                  %article
                    Create website with Bootstrap/Foundation/custom css.
                    Wireframe, PSDs and more
              .clearfix
              .employee-myservice.right
                .service-icon
                  %span.fa.fa-pencil
                .service-content
                  %h3.title
                    Blog Writing
                  %article
                    Write software and tech related articles. Mainly write about computer tips, Game reviews etc.
            .col-xs-12.col-sm-6
              .employee-myservice.left
                .service-icon
                  %span.fa.fa-building
                .service-content
                  %h3.title
                    Development
                  %article
                    Build websites in PHP, Ruby On Rails, Wordpress, Drupal and Angular.
              .clearfix
              .employee-myservice.left
                .service-icon
                  %span.fa.fa-wrench
                .service-content
                  %h3.title
                    Support
                  %article
                    Domain migration. Host websites, SEO service. Social media marketting.